.contenedor {
    height: 867px;
}

.rooter2 {
    height: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
}

.botonRuter3 {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
    background-color: transparent;
    border: 0 none;
}

.textoRuter4 {
    color: #B3B3B3!important;
    letter-spacing: 1px;
    font-size: 15px;
    padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: left;
    align-content: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-weight: bold;
}

.textoRuter4:hover {
    color: rgb(255, 255, 255)!important;
    letter-spacing: 1px;
    font-size: 15px;
    padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: left;
    align-content: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-weight: bold;
}

.navegacion {
    padding: 0px;
}

.blocke {
    display: flex;
    height: 10px;
    width: 100%;
}