<div class="contenedor">
    <div class="rooter2">
        <button class="botonRuter3 m-3">           
            <a class="textoRuter4"routerLinkActive="active" routerLink="misPlaylists">
                PLAYLISTS
            </a>
        </button>
        <!-- <button class="botonRuter3">           
            <a class="textoRuter4" routerLinkActive="active" [routerLink]="search" style="margin-left: 8px;">
                Search
            </a>
        </button>
        <button class="botonRuter3">           
            <a class="textoRuter4"routerLinkActive="active" [routerLink]="search">
                Biblioteca
            </a>
        </button> -->
    </div>

    <div class="navegacion">
        <router-outlet></router-outlet>

    </div>
    <div class="m-5 blocke"></div>
</div>