.container {
    width: 170px;
    height: 180px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start!important;
}


/* Column Gap */

.cardList>* {
    box-sizing: border-box;
}

.cardList>*:not(:last-child) {
    margin-right: 32px;
}


/* Item sizing */

.cardListItem {
    flex: 0 1 calc(33.3% - 32px);
}


/* medium size viewport */

.card-title {
    font-size: 25px;
    color: black;
    text-align: center;
}

.info {
    align-items: center;
    justify-content: center;
}

.info:hover {
    background-color: rgb(198, 199, 186)!important;
    border-radius: 50px;
}