.contenedor1 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.flechas2 {
    background-color: #121212!important;
    height: 100%;
    min-width: 100px;
    width: 10%;
    max-width: 101px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 10;
    order: 6;
}

.atras3 {
    cursor: pointer;
}

.adelante3 {
    cursor: pointer;
}

.englobaDerecha2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 10;
    order: 6;
}

.medio2 {
    height: 100%;
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 10;
    order: 6;
}

.search3 {
    background-color: transparent;
    height: 100%;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 10;
    order: 6;
    padding-left: 40px;
}

.cuenta2 {
    padding-top: 30px;
    padding-right: 270px;
    height: 110px;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 10;
    order: 6;
}

.botonCuenta4 {
    color: white;
    border-radius: 50px;
    border: 0 none;
    background-color: transparent;
    padding-top: 2px;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    height: 33%;
    width: 100%;
    background-color: #282828!important;
}

.miCuenta4 {
    color: white;
    border: 0 none;
    background-color: transparent;
    height: 33%;
    width: 100%;
    background-color: #282828!important;
    display: none;
}

.cerrarSesion4 {
    color: white;
    border: 0 none;
    background-color: transparent;
    height: 33%;
    width: 100%;
    background-color: #282828!important;
}

.cerrarSesion4:hover {
    display: inline-flex;
    cursor: pointer;
    transform: scale(1.05);
    font-weight: bold;
    justify-content: center;
}

.botonCuenta4:hover {
    cursor: pointer;
    transform: scale(1.05);
    font-weight: bold;
}