<div class="contenedor1">
    <div class="flechas2">
        <div class="atras3">
            <img (click)="volver()" src="../../../assets/img/atras.png" alt="">
        </div>
        <div class="adelante3">
            <img (click)="ir()" src="../../../assets/img/adelante.png" alt="">
        </div>
    </div>
    <div class="englobaDerecha2">
        <div class="medio2">
            <div class="search3">
            </div>
            <div class="espacio3">

            </div>
        </div>
        <div class="cuenta2">

            <button class="cerrarSesion4 " (click)="logout()" *ngIf="autenticado()">
                        Cerrar sesion
            </button>

        </div>
    </div>

</div>