<div *ngIf="loading" class="iconoCarga">
    <div class="fa-spin">
        <img src="./../../../assets/img/loading.png" alt="">
    </div>
</div>


<div class="contenedor0">
    <div class="input4">
        <div class="imagenSearch5">
            <img src="../../../assets/img/buscar.png">
        </div>
        <div class="contenedorTexto4">
            <input #termino (keyup)="buscar(termino.value)" class="texto5 placeholder-fix" type="text" placeholder="Buscar artistas o canciones">
        </div>
    </div>

    <div class="primeraVista m-5" *ngIf="this.mostrar">

        <div class="primerArtista">
            <div class="dato">
                <div (click)="verArtista()" class="datosArista">
                    <img class="imagen" [src]="this.primerFoto | noimage" alt="">

                    <a class="textoUp3 m-2">{{this.primerArtista}}</a>

                    <a class="textoDown3">Artista</a>
                </div>
            </div>
            <div class="botonPlay" [ngStyle]="this.estilo">
                <img *ngIf="play" (click)="play = !play ; mandarTrack() ; mostrarBoton()" class="button3" src="../../../../assets/img/playReproductor.png">
                <img *ngIf="!play" (click)="play = !play ;  mostrarBoton()" class="button3" src="../../../../assets/img/pauseReproductor.png">
            </div>

        </div>
        <div class="tracks">
            <app-track-artista [track]="track[0]"></app-track-artista>
            <app-track-artista [track]="track[1]"></app-track-artista>
            <app-track-artista [track]="track[2]"></app-track-artista>
        </div>

    </div>

    <div *ngIf="this.mostrar">
        <app-fila [items]="this.artistas" [nombreFila]="'Artistas'"></app-fila>
    </div>

    <div *ngIf="this.mostrar">
        <app-fila [items]="this.albums" [nombreFila]="'Albums'"></app-fila>
    </div>

    <div *ngIf="this.mostrar">
        <app-fila [items]="this.playlists" [nombreFila]="'Playlists'"></app-fila>
    </div>
    <div class="contenedorGeneros1">
        <div class="tituloConteiner2">
            <div *ngIf="!this.mostrar" class="titulo3">
                <a>Generos Disponibles</a>
            </div>
        </div>
        <div *ngIf="!this.mostrar" class="cardsConteiner2">
            <div *ngFor="let genero of generos" class="card3">
                <app-genero-card [item]="genero"></app-genero-card>
            </div>
        </div>
        <div class="m-5 blocke"> </div>
    </div>
</div>