.button3 {
    background-color: rgb(0, 143, 31);
    border-radius: 40px;
    float: right;
    cursor: pointer;
    transition: transform .2s;
    width: 50px;
    height: 50px;
}

.button3:hover {
    transform: scale(1.2);
}

.iconoCarga {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cardsConteiner2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    margin-left: 40px;
}

.contenedor0 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.input4 {
    position: absolute;
    top: 25px;
    left: 370px;
    background-color: white;
    border-radius: 20px;
}

.imagenSearch5 {
    position: absolute;
    top: 5px;
    left: 10px;
}

.contenedorTexto4 {
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}

.texto5 {
    width: 270px;
    height: 40px;
    background-color: transparent;
    border: 0px solid;
    z-index: 10;
    outline: none;
}

.placeholder-fix::-webkit-input-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.placeholder-fix::-moz-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.placeholder-fix:-moz-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.placeholder-fix:focus::-webkit-input-placeholder {
    color: transparent;
}

.placeholder-fix:focus::-moz-placeholder {
    color: transparent;
}

.placeholder-fix:-moz-placeholder {
    color: transparent;
}

.card3 {
    margin-right: 20px;
    margin-top: 20px;
}

.titulo3 {
    padding: 10px;
    color: white!important;
    letter-spacing: 0px;
    font-size: 25px;
    padding-left: 20px;
    white-space: nowrap;
    justify-content: left;
    align-content: left;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-left: 20px;
}

.primeraVista {
    width: 100%;
    min-height: 30%;
    display: flex;
    flex-direction: row;
    white-space: wrap;
}

.primerArtista {
    width: 30%;
    min-height: 30%;
    background-color: #282828!important;
    white-space: wrap;
    flex-direction: row;
    display: flex;
}

.primerArtista:hover .botonPlay {
    display: inline-flex;
}

.dato {
    white-space: nowrap;
    flex-direction: column;
    display: flex;
    width: 30%;
}

.imagen {
    height: 140px;
    width: 140px;
    margin-top: 15px;
    margin-left: 25px;
    border-radius: 90px;
    cursor: pointer;
}

.textoUp3 {
    color: white!important;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: left;
    padding-left: 15px;
    font-size: 35px;
    font-family: padmaa-Bold.1.1;
}

.textoDown3 {
    color: rgb(255, 255, 255)!important;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: left;
    margin-left: 25px;
    background-color: #141414!important;
    width: 100px;
    border-radius: 300px;
    align-content: center;
    justify-content: center;
}

.datosArista {
    white-space: nowrap;
    flex-direction: column;
    display: flex;
    width: 50%;
}

.tracks {
    margin-left: 5px;
    justify-content: space-around;
    white-space: nowrap;
    flex-direction: column;
    display: flex;
    width: 61%;
}

.blocke {
    display: flex;
    height: 10px;
    width: 100%;
}

.botonPlay {
    display: none;
    padding-left: 50%;
    align-items: flex-end;
    padding-block-end: 30px;
    justify-content: flex-start;
    position: sticky;
    height: 100%;
}