 .contenedor1 {
     background-color: black!important;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
     max-width: 220px!important;
     height: 850px;
     padding-left: 10px;
 }
 
 .header2 {
     height: 10%;
     min-width: 220px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: flex-start;
 }
 
 .imagenLogo3 {
     display: grid;
     width: 230px;
     padding-right: 20px;
     margin-left: -10px;
 }
 
 .rooter2 {
     height: 15%;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
     width: 100%;
     margin-top: 10px;
 }
 
 .botonRuter3 {
     margin-top: 5px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: left;
     align-content: center;
     background-color: transparent;
     border: 0 none;
     border-radius: 4px;
     outline: none;
 }
 
 .botonRuter3:hover {
     transition: 0.4s;
     background-color: #212529;
 }
 
 .botonRuter3:hover .textoRuter4 {
     transition: 0.4s;
     color: whitesmoke!important;
 }
 
 .imagenRouter4 {
     display: grid;
 }
 
 .imagenCrear4 {
     display: flex;
     width: 25px;
     height: 25px;
 }
 
 .textoRuter4 {
     padding-top: 5px;
     color: #B3B3B3!important;
     letter-spacing: 1px;
     font-size: 15px;
     padding-left: 20px;
     white-space: nowrap;
     text-overflow: ellipsis;
     justify-content: center;
     align-content: center;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     font-weight: bold;
     outline: none;
 }
 
 .namePlaylist2 {
     height: 10%;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
 }
 
 .textoPlaylist3 {
     color: #B3B3B3!important;
     letter-spacing: 0px;
     margin: 5px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: flex-start;
     font-size: 15px;
     white-space: nowrap;
     text-overflow: ellipsis;
 }
 
 .botonCrear3 {
     margin-top: 5px;
     margin-bottom: 5px;
     background-color: transparent;
     border: 0 none;
     color: #b3b3b3;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-content: center;
     outline: none;
 }
 
 .botonCrear3:hover {
     transition: 0.4s;
     color: whitesmoke!important;
 }
 
 .textoCrear4 {
     font-weight: bold;
     margin-left: 15px;
     margin-top: 2px;
 }
 
 .scrollPlaylist2 {
     padding-top: 10px;
     height: 58%;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: flex-start;
 }
 
 .scroll3 {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: flex-start;
     align-content: flex-start;
     overflow: hidden;
     overflow-y: scroll;
     line-height: 30px;
     font-size: 15px;
     max-width: 210px;
 }
 
 .scroll3::-webkit-scrollbar {
     background-color: transparent;
 }
 
 .scroll3::-webkit-scrollbar-thumb {
     background-color: #383838;
 }
 
 .playlist6 {
     background-color: transparent;
     border: 0 none;
     color: #b3b3b3;
     white-space: nowrap;
     text-overflow: ellipsis;
     outline: none;
     cursor: pointer;
     border-radius: 4px;
 }
 
 .playlist6:hover {
     color: white!important;
 }
 
 .footer2 {
     margin-top: 5px;
     height: 5%;
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: flex-start;
     align-content: flex-end;
 }
 
 .botonDescargar3 {
     max-height: 20px;
     background-color: transparent;
     border: 0 none;
     color: #b3b3b3;
 }
 
 .botonDescargar3:hover {
     transition: 0.4s;
     color: whitesmoke!important;
 }
 
 .imagenDescargar4 {
     max-height: 20px;
 }
 
 .textoDescargar4 {
     margin-left: 10px;
     color: #B3B3B3!important;
     letter-spacing: 0px;
     font-size: 15px;
     white-space: nowrap;
     text-overflow: ellipsis;
     font-weight: bold;
     cursor: pointer;
 }
 
 .textoDescargar4:hover {
     color: white!important;
 }