<div class="contenedor1">
    <div class="header2">
        <img (click)="home()" class="imagenLogo3" src="./../../../../assets/img/icono.jpeg" alt="">
    </div>

    <div class="rooter2">
        <button class="botonRuter3" routerLinkActive="active" routerLink="home">
            <img class="imagenRouter4" src="assets/img/home.png">
            <a class="textoRuter4" >
                Inicio
            </a>
        </button>
        <button class="botonRuter3" routerLinkActive="active" routerLink="search">
            <img class="imagenRouter4" src="assets/img/buscar.png">
            <a class="textoRuter4"  style="margin-left: 8px;">
                Search
            </a>
        </button>
        <button class="botonRuter3" routerLinkActive="active" routerLink="biblioteca">
            <img class="imagenRouter4" src="assets/img/biblioteca.png">
            <a class="textoRuter4" >
                Biblioteca
            </a>
        </button>
    </div>
    <div class="namePlaylist2">
        <a class="textoPlaylist3">
            PLAYLISTS
        </a>
        <button (click)="crearPlaylist()" class="botonCrear3">
            <img class="imagenCrear4" src="./../../../../assets/img/masPlaylist.png">
            <a class="textoCrear4">
                Crear playlist
            </a>
        </button>
    </div>
    <div class="scrollPlaylist2">
        <div class="scroll3">
            <div *ngFor="let playlist of playlists">
                <div class="contPlaylist5" routerLinkActive="active" routerLink="playlist/{{playlist.id}}">
                    <button class="playlist6">{{playlist.name}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer2">
        <button class="botonDescargar3">
            <img class="imagenDescargar4" src="../../../../assets/img/download.png">
            <a (click)="instalar()" class="textoDescargar4">
                Instalar app
            </a>
        </button>
    </div>
</div>