.cuerpo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.encabezado {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 20%;
    flex-direction: column;
    flex-wrap: nowrap;
}

.cerrar {
    display: flex;
    height: 50px;
    width: 50px;
    outline: none;
}

.botonCerrar {
    border-radius: 150px;
    background-color: rgb(63, 61, 61);
    outline: none;
}

.titulo {
    display: flex;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    font-style: verdana;
    color: white!important;
}

.centro {
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 62, 62);
}

.desarrollo {
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
}

.ingresaTexto {
    caret-color: green;
    outline: none;
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 60px;
    font-style: verdana;
    background-color: transparent;
    border: transparent;
}

.indicador {
    display: flex;
    color: white!important;
    font-size: 20px;
}

.opciones {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: center;
}

.placeholder-fix::-webkit-input-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.placeholder-fix::-moz-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.placeholder-fix:-moz-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.placeholder-fix:focus::-webkit-input-placeholder {
    color: transparent;
}

.placeholder-fix:focus::-moz-placeholder {
    color: transparent;
}

.placeholder-fix:-moz-placeholder {
    color: transparent;
}

.cancelar {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border-radius: 200px;
    color: white!important;
}

.cancelar:hover {
    transition: 0.3s;
    transform: scale(1.05);
    background-color: rgb(62, 65, 62);
    width: 205px;
    height: 52.5px;
}

.crear {
    width: 200px;
    height: 50px;
    background-color: #1db954;
    border-radius: 200px;
    color: white!important;
}

.crear:hover {
    transition: 0.3s;
    transform: scale(1.05);
    background-color: rgb(31, 145, 31);
    width: 205px;
    height: 52.5px;
}

.contenedor {
    width: 210px;
    height: 55px;
}

.bloque {
    width: 50px;
}