<div class="cuerpo">
    <div class="encabezado">
        <div (click)="volver()" class=" botonCerrar " (mouseenter)="cruz=false; " (mouseleave)="cruz=true ">
            <img *ngIf="cruz " class="cerrar " src="./../../../assets/img/cruzCerrar.png " alt=" ">
            <img *ngIf="!cruz " class="cerrar " src="./../../../assets/img/cruzCerrarNegra.png " alt=" ">
        </div>
        <a class="titulo ">Crear nueva playlist</a>
    </div>
    <div class="centro ">
        <div class="desarrollo ">
            <a class="indicador ">Nombre de la playlist...</a>
            <input #termino class="ingresaTexto placeholder-fix " (keyup)="textoIngresado(termino.value)" type="text " placeholder="Nueva Playlist ">
        </div>
    </div>
    <div class="opciones m-5 ">

        <div (click)="volver() " class="contenedor ">
            <button class="cancelar ">Cancelar</button>
        </div>
        <div class="bloque "></div>
        <div (click)="crear()" class="contenedor ">
            <button class="crear ">Crear</button>
        </div>

    </div>
</div>