.contenedor1 {
    background-color: #282828;
    height: 260px;
    width: 170px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
}

.contenedor1:hover {
    cursor: pointer;
}

.contenedor1:hover .botonPlay2 {
    display: inline-flex;
}

.top2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    height: 66%;
    width: 100%;
}

.imagen3 {
    height: 145px;
    width: 145px;
    margin-top: 15px;
}

.down2 {
    align-content: space-around;
    flex-direction: column;
    justify-content: space-between;
    height: 34%;
    width: 100%;
}

.textoUp3 {
    color: white!important;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: left;
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 160px;
}

.textoDown3 {
    color: gray!important;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: left;
    padding-left: 15px;
}

.botonPlay2 {
    padding-left: 110px;
    position: sticky;
    display: none;
}

.button3 {
    background-color: rgb(0, 143, 31);
    border-radius: 40px;
    float: right;
    cursor: pointer;
    transition: transform .2s;
    width: 45px;
    height: 45x;
}

.button3:hover {
    transform: scale(1.2);
}

.body2 {
    height: 90px;
}