<div class="contenedor1">
    <div class="top2">
        <div>
            <img (click)="ver()" class="imagen3" [src]="item.images | noimage" [ngStyle]="applyStyles()">
        </div>
    </div>
    <div class="body2">
        <div class="down2">
            <a class="textoUp3">
                {{item.name}}
            </a>
            <a class="textoDown3">
                {{item.type}}
            </a>
        </div>
        <div class="botonPlay2" [ngStyle]="this.estilo">
            <img *ngIf="play" (click)="play = !play ; mandarTrack(); mostrarBoton()" class="button3" src="../../../../assets/img/playReproductor.png">
            <img *ngIf="!play" (click)="play = !play ; mostrarBoton()" class="button3" src="../../../../assets/img/pauseReproductor.png">
        </div>
    </div>

</div>