.contenedor0 {
    background-color: #121212!important;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding-right: 230px;
}

.columna1 {
    background-color: white!important;
    position: fixed;
    margin-top: 60px;
    width: 430px;
    height: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    border-radius: 10px;
    outline: indigo;
}

.texto2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.bienvenida3 {
    margin-top: 10px;
    font-size: 60px;
    text-align: center;
    font-family: Ubuntu-Bold;
    color: rgb(100, 145, 241);
    letter-spacing: 2px;
    font-style: italic;
    font-weight: bold;
}

.login2 {
    background-color: white!important;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.textoLogin3 {
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

.emailWarning2 {
    margin-top: 15px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-end;
}

.textoWarning {
    height: 10px;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 5px;
}

.emailDiv2 {
    background-color: lightgray!important;
    width: 100%;
    height: 70px;
}

.emailInput3 {
    width: 90%;
    height: 55px;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 5px;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.emailInput3:focus {
    outline-width: 0;
}

.passwordWarning2 {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-end;
}

.passwordDiv2 {
    background-color: lightgray!important;
    width: 100%;
    height: 70px;
}

.passwordInput3 {
    width: 90%;
    height: 55px;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 5px;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.passwordInput3:focus {
    outline-width: 0;
}

.op2 {
    width: 100%;
    max-height: 40px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.checkbox3 {
    margin-left: 20px;
    width: 40%;
    height: 40px;
}

.registrar3 {
    width: 60%;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
}

.checkbox:hover {
    cursor: pointer;
}

.recordarme {
    font-size: 16px;
    margin-left: 10px;
}

.butonDiv2 {
    background-color: white!important;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.boton3 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    border: 0 none;
    outline: none;
    background-color: steelblue;
}

.boton3:hover {
    cursor: pointer;
}

.noTienes {
    margin-right: 20px;
    outline: 0;
    border: none;
}

.noTienes:hover {
    text-decoration: underline;
    cursor: pointer;
}