.iconoCarga {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    /* max-height: 800px; */
}