<div *ngIf="loading" class="iconoCarga">
    <div class="fa-spin">
        <img src="./../../../assets/img/loading.png" alt="">
    </div>
</div>
<div class="contenedor">
    <div class="cardList">
        <div>
            <app-fila [items]="itemsNewReleases" [nombreFila]="nombreNewReleases"></app-fila>
        </div>
        <div>
            <app-fila [items]="itemsPlaylistDest" [nombreFila]="nombrePlaylistDest"></app-fila>
        </div>
        <!-- <div>
            <app-fila [items]="itemsNewReleases" [nombreFila]="nombreFila"></app-fila>
        </div> -->
    </div>
</div>