.iconoCarga {
    display: flex;
    width: 100%;
    justify-content: center;
}

.Contenedor1 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-top: 10px;
}

.Header2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    height: 300px;
}

.Info3 {
    width: 33%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 550px;
    flex-wrap: wrap;
    background-color: transparent!important;
}

.textoNombre5 {
    font-family: Garuda;
    color: white!important;
}

.Nombre4 {
    padding-left: 30px;
    padding-top: 70px;
    height: 200px;
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: start;
    font-size: 60px;
    align-items: center;
    -webkit-text-stroke: 2px black;
}

.Opciones4 {
    padding-left: 20px;
    height: 50px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 400px;
    align-items: center;
}

.SpaceMedio3 {
    width: 33%;
    min-height: 250px;
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
    min-width: 550px;
}

.SpaceDerecha3 {
    width: 33%;
    min-height: 250px;
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
    min-width: 550px;
}

.Down2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.Entry3 {
    width: 100%;
    height: 60px;
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
    color: rgb(153, 149, 149);
}

.General4 {
    max-height: 50px;
    height: 30%;
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
}

.Info4 {
    max-height: 50px;
    height: 20%;
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
}

.espacioEntry4 {
    height: 40px;
    width: 2%;
    background-color: #121212;
}

.Buton16 {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background-color: #1db954;
    color: #fff;
    border: 0 none;
    outline: none;
}

.Buton16:hover {
    background-color: rgb(31, 145, 31);
    cursor: pointer;
}

.aumento:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.Buton26 {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(24, 24, 24, .7);
    color: #fff;
    background-color: transparent;
    border-color: white;
    cursor: pointer;
    outline: none;
}

.Buton26:hover {
    background-color: rgb(100, 99, 99);
}

.Buton36 {
    border-radius: 50px;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.Buton36:hover {
    background-color: rgb(100, 99, 99);
}

.more {
    width: 50px;
    height: 30px;
}

.Seguir5 {
    padding-left: 30px;
}

.Op5 {
    padding-left: 30px;
}

.Rep5 {
    padding-left: 10px;
}

.textoGeneral5 {
    width: 120px;
    height: 25px;
    display: flex;
    color: rgb(153, 149, 149);
    background-color: transparent;
    margin: 0px;
    border: 0px;
    cursor: pointer;
}

.textoGeneral5:hover {
    color: rgb(255, 255, 255)!important;
}

.textoInformacion5 {
    width: 300px;
    height: 25px;
    display: flex;
    color: rgb(153, 149, 149);
    background-color: transparent;
    margin: 0px;
    border: 0px;
    cursor: pointer;
}

.textoInformacion5:hover {
    width: 300px;
    height: 25px;
    display: flex;
    color: rgb(255, 255, 255)!important;
    background-color: transparent;
    margin: 0px;
    border: 0px;
}

.card5 {
    margin: 10px;
}

.blocke {
    display: flex;
    height: 10px;
    width: 100%;
}

.DownPage3 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.Populares4 {
    width: 100%;
}

.tituloTracks5 {
    width: 100%;
    height: 40px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.tracks5 {
    margin-left: 40px;
    width: 100%;
}

.Albums4 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.contenedorFila6 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.palabraAlbum {
    width: 100%;
    height: 25px;
    display: flex;
    font-size: 30px;
    color: white!important;
    font-family: Garuda;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding-top: 0px;
    /* max-height: 800px; */
}