<div *ngIf="loading" class="iconoCarga">
    <div class="fa-spin">
        <img src="./../../../assets/img/loading.png" alt="">
    </div>
</div>
<div class="Contenedor1">
    <div class="Header2" [ngStyle]="{'background-image': 'url(' + this.portada + ')'}">
        <div class="Info3">
            <div class="Nombre4">
                <a class="textoNombre5">{{this.nombre}}</a>
            </div>
            <div class="Opciones4">
                <div class="Rep5" (click)="sendInf()">
                    <button (click)="sendInf()" class="Buton16 aumento">REPRODUCIR</button>
                </div>
                <div class="Seguir5">
                    <button class="Buton26 aumento">SEGUIR</button>
                </div>
            </div>
        </div>
        <div class="SpaceMedio3">
        </div>
        <div class="SpaceDerecha3">
        </div>
    </div>
    <div class="Down2">
        <div class="Entry3">
            <div class="General4">
                <a class="textoGeneral5" (click)="seccion = true" [ngStyle]="general()">
                    Vista General
                </a>
            </div>
            <div class="espacioEntry4">
            </div>
            <div class="Info4">
                <a class="textoInformacion5" (click)="seccion = false" [ngStyle]="otros()">
                    Artistas Relacionados
                </a>
            </div>
            <div class="espacioEntry4">
            </div>
        </div>
        <div *ngIf="seccion" class="DownPage3">
            <div class="Populares4">
                <div class="tituloTracks5">
                    <a>Populares</a>
                </div>
                <div *ngFor="let track of tracks" class="tracks5">
                    <app-track-artista [track]="track"></app-track-artista>
                </div>
            </div>
            <div class="Albums4">
                <a class="palabraAlbum">Albums</a>
                <div class="contenedorFila6">
                    <app-fila [items]="itemsAlbum" [nombreFila]=""></app-fila>
                </div>
            </div>
        </div>
        <div *ngIf="!seccion" class="contenedor">
            <app-fila [items]="this.artistas" [nombreFila]=" "></app-fila>
        </div>
        <div class="m-5 blocke"> </div>
    </div>
</div>