<div class="contenedor0">
    <form (ngSubmit)="onSubmit( f )" #f="ngForm" class="columna1">
        <div class="texto2">
            <span class="crearCuenta3">
                Crear nueva cuenta
            </span>
        </div>
        <div class="emailWarning2">
            <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger textoWarning fadeIn">El correo es obligatorio</span>
        </div>
        <div class="emailDiv2">
            <input class="emailInput3" type="text" name="email" [(ngModel)]="usuario.email" required email placeholder="Email">
        </div>
        <div class="nombreWarning2">
            <span *ngIf="f.submitted && f.controls['nombre'].errors" class="text-danger textoWarning fadeIn">El nombre es obligatorio</span>
        </div>
        <div class="nombreDiv2">
            <input class="nombreInput3" type="text" name="nombre" [(ngModel)]="usuario.nombre" minlength="2" required placeholder="Nombre y apellidos">
        </div>
        <div class="passwordWarning2">
            <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger textoWarning animated fadeIn">*La password debe tener al nenos 6 caracteres</span>
        </div>
        <div class="passwordDiv2" data-validate="Password is required">
            <input class="passwordInput3" type="password" name="password" [(ngModel)]="usuario.password" required minlength="6" placeholder="Password">
        </div>
        <div class="op2">
            <div class="checkbox3">
                <input type="checkbox">
                <span class="recordarme">Recordarme</span>
            </div>

            <div class="registrar3">
                <span class="noTienes4" routerLink="/login">¿Ya tienes cuenta? / Ingresar</span>
            </div>
        </div>
        <div class="butonDiv2">
            <button class="boton3">
                Crear cuenta
            </button>
        </div>

    </form>
</div>
<!-- 


<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">

            <form (ngSubmit)="onSubmit( f )" #f="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                  Crear nueva cuenta
              </span>

                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>

                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="email" name="email" [(ngModel)]="usuario.email" required email placeholder="Email">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['nombre'].errors" class="text-danger animated fadeIn">El nombre es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="nombre" [(ngModel)]="usuario.nombre" minlength="2" required placeholder="Nombre y apellidos">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">Al menos 6 letras</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="password" name="password" [(ngModel)]="usuario.password" minlength="6" required placeholder="Password">

                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="recordarme" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                          Recordar mi usuario
                      </label>
                    </div>

                    <div>
                        <a routerLink="/login" class="txt1">
                          ¿Ya tienes cuenta? / Ingresar
                      </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                      Crear cuenta
                  </button>
                </div>

            </form>
        </div>
    </div>
</div> -->