.container1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.titulo {
    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
    min-height: 300px;
    align-items: center!important;
    padding-left: 30px;
}

.letra {
    font-size: 50px;
    color: white!important;
}

.contenido {
    min-width: 100%;
    height: 100%;
}

.fondo {
    display: flex;
    flex-direction: row;
}

.bloque {
    min-width: 120%;
    display: flex;
}

.nombre {
    display: flex;
    align-items: flex-end;
    min-width: 400px;
}

.blocke {
    display: flex;
    height: 10px;
    width: 100%;
}