<div class="container1">

    <div class="titulo" [ngStyle]="applyStyles()">

        <div class="fondo">
            <div class="nombre">
                <a class="letra">{{this.nombre}}</a>
            </div>

            <div class="bloque">

            </div>
            <img class="imagen" [src]="this.foto">
        </div>
    </div>
    <div class="contenido">

        <app-fila [items]="this.playlists" [nombreFila]="'playlists Populares'"></app-fila>
        <div class="m-5 blocke"></div>
    </div>
</div>