<div *ngIf="loading" class="iconoCarga">
    <div class="fa-spin">
        <img src="./../../../assets/img/loading.png" alt="">
    </div>
</div>
<div class="contenedor1">
    <div class="left2">
        <div class="foto3">
            <button class="btnImagenPlaylist4">
                <img (mouseenter)="boton = true" (mouseleave)="boton = false" (click) = "reproducir = !reproducir ; sendInfo()" class="imagen" [src]="item.images | noimage">
            </button>
        </div>
        <div class="nombre3">
            <a class="nombrePlaylist4">{{item.artists[0].name}}</a>
            <a class="nombreAutor4">{{item.artists[0].name}}</a>
        </div>
        <div class="botonRep3" (click)="sendInf()">
            <button (click)="sendInf()" class="Buton16 aumento">REPRODUCIR</button>
        </div>
        <div class="nomTracks3">
            <a>{{item.total_tracks}} CANCIONES</a>
        </div>
        <img (mouseenter)="boton = true" (click)="reproducir = !reproducir ;sendInfo()" *ngIf="(reproducir) && (boton)" class="play" src="./../../../../assets/img/playReproductor.png" alt="">
        <img (mouseenter)="boton = true" (click)="reproducir = !reproducir ;sendInfo()" *ngIf="(!reproducir)" class="play" src="./../../../../assets/img/pauseReproductor.png" alt="">
    </div>
    <div class="right2">
        <div class="scroll3">
            <div *ngFor="let track of tracks">
                <app-track-album [track]="track" [nombre]="item.name"></app-track-album>
            </div>

        </div>
        <div class="m-5 blocke"></div>
    </div>
</div>