.containerrr0 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.left1 {
    flex-grow: 01;
    order: 2;
    width: 30%;
    height: 85px;
    background-color: #282828!important;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
}

.imagen2 {
    height: 80%;
    width: 20%;
    margin-left: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}

.infoTrack2 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.fotoTrack3 {}

.imagenClas4 {
    padding-top: 5px;
    max-width: 65px;
    max-height: 65px;
}

.mgImagen2 {
    height: 100%;
    width: 20%;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: right;
}

.fotoMG3 {
    height: 100%;
    width: 23PX;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
}

.up3 {
    font-weight: bold;
}

.down3 {
    padding-top: -4px!important;
    font-size: 12px!important;
}

.texto3 {
    padding-top: 8px;
    color: white!important;
    display: flex;
    font-size: 14px;
    border-bottom: 1px solid transparent;
    text-align: left;
    line-height: 10px;
    letter-spacing: .015em;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
}

.center1 {
    background-color: #282828!important;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    flex-grow: 20;
    order: 4;
    width: 40%;
    min-width: 400px;
}

.medio2 {
    width: 74%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
}

.topCenter3 {
    width: 100%;
    height: 50%;
    justify-content: space-around;
    display: contents;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
}

.bottomCenter3 {
    width: 100%;
    height: 50%;
    text-align: center;
}

.audio {
    margin-top: 7px;
    height: 30px;
    width: 60%;
    min-width: 300px;
    text-align: center;
}

.contPrueba {
    padding-top: 10px;
    width: 50px;
    margin-right: 3px;
}

.lineaTiempoTrack {
    width: 70%;
    border: 2px solid grey!important;
    border-radius: 25px!important;
    margin-top: 5px!important;
    margin-bottom: 0px!important;
}

.tiempo {
    padding: 0px!important;
    margin: 0px!important;
}

.boxSpace4 {
    width: 10%;
}

.m12 {
    width: 8%;
    height: 100%;
    background-color: #282828!important;
    align-items: left;
    flex-grow: 01;
    justify-content: left;
}

.m22 {
    width: 18%;
    height: 100%;
    background-color: #282828!important;
    align-items: stretch;
    justify-content: right;
}

.right1 {
    flex-grow: 10;
    order: 6;
    width: 20%;
    height: 100%;
    background-color: blue;
    min-width: 200px;
    align-items: stretch;
    max-width: 240px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
}

.botonCola2 {
    height: 100%;
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #282828!important;
}

.volumen2 {
    background-color: #282828!important;
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
}

.fotoVol3 {
    padding-bottom: 7px;
}

.volumenBar3 {
    background-color: #282828!important;
    height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
}

.bar4 {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    font-size: 25px;
    color: lightgray!important;
}