<div class="containerrr0">
    <div class="left1">
        <div class="imagen2">
            <div class="fotoTrack3">
                <img class="imagenClas4" src="{{urlImage}}">
            </div>
        </div>
        <div class="infoTrack2">
            <a class="texto3 up3">{{nombreTrack}}</a>
            <a class="texto3 down3">{{nombreAbajo}}</a>
        </div>
        <div class="mgImagen2">
            <div class="fotoMG3">
                <img src="../../../assets/img/meGusta.png">
            </div>
        </div>
    </div>
    <div class="center1">
        <div class="m12"></div>
        <div class="medio2">
            <div class="topCenter3">
                <div class="boxSpace4"></div>
                <div class="contPrueba">
                    <img src="../../../assets/img/aleatorio.png">
                </div>
                <div class="contPrueba">
                    <img src="../../../assets/img/previo.png">
                </div>
                <div class="contPrueba">
                    <img src="../../../assets/img/reproducir.png">
                </div>
                <div class="contPrueba">
                    <img src="../../../assets/img/next.png">
                </div>
                <div class="contPrueba">
                    <img src="../../../assets/img/repetir.png">
                </div>
                <div class="boxSpace4"></div>
            </div>
            <div class="bottomCenter3">
                <audio class="audio" [src]="srcAudio" controls autoplay></audio>
            </div>
        </div>
        <div class="m22"></div>
    </div>
    <div class="right1">
        <div class="botonCola2">

            <div class="fotoLR3">
                <img src="../../../assets/img/lista.png">
            </div>
        </div>
        <div class="volumen2">
            <div class="fotoVol3">
                <img src="../../../assets/img/sonido.png">
            </div>
            <div class="volumenBar3">
                <a class="bar4">**********</a>
            </div>
        </div>
    </div>
</div>