.cuerpo1 {
    background-color: #161616!important;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}


/* PUESTO EN INDEX PRINCIPAL OVERFLOW HIDDEN */

.layout2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #121212!important;
    width: 100%;
    height: 100%;
}

.footerr2 {
    position: absolute;
    bottom: 0;
    height: 85px;
    /* ver aca que onda, como dejarlo abajo al footer */
    width: 100%;
}

.sideNav3 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: left;
    background-color: black!important;
    /* background-color: rgb(14, 13, 13)!important; */
    max-width: 230px!important;
    height: 867px;
    padding-left: 10px;
}


/*mi pantalla 1857 x +900
/*pablo 1366x768
*/

.center3 {
    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #121212!important;
    width: 100%;
    min-height: 867px;
}

.topHeader4 {
    background-color: transparent;
    position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
}

.inBox4 {
    padding-top: 80px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-color: #121212!important;
    /* height: 800px; */
    width: 100%;
    min-height: 867px;
}

.scroll5 {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 867px;
}

.scroll5::-webkit-scrollbar {
    background-color: #161616!important;
}

.scroll5::-webkit-scrollbar-thumb {
    background-color: #383838;
}