<div class="cuerpo1">
    <div class="layout2">
        <div class="sideNav3">
            <app-navbar></app-navbar>
        </div>
        <section class="center3">
            <div class="topHeader4">
                <app-top-header></app-top-header>
            </div>
            <div class="inBox4">
                <div class="scroll5">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </section>
    </div>
    <footer class="footerr2">
        <app-footer></app-footer>
    </footer>
</div>