<div class="contenedor1">
    <div class="tituloConteiner2">
        <div class="titulo3">
            <a>{{nombreFila}}</a>
        </div>
        <div class="subTitulo3">
            <a>{{descripcion || ""}}</a>
        </div>
    </div>
    <div class="cardsConteiner2">
        <div *ngFor="let item of items" class="card3">
            <app-tarjeta-lista [item]="item"></app-tarjeta-lista>
        </div>
    </div>
</div>