.contenedor1 {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.tituloConteiner2 {
    width: 100%;
}

.titulo3 {
    padding: 10px;
    color: white!important;
    letter-spacing: 0px;
    font-size: 25px;
    padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: left;
    align-content: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-weight: bold;
}

.subTitulo3 {
    padding-left: 10px;
}

.cardsConteiner2 {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.card3 {
    margin: 10px;
}