.play {
    display: flex;
    position: relative;
    left: 15%;
    top: -55%;
    height: 120px;
    z-index: 3;
    width: 140px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

.iconoCarga {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contenedor1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 50px;
}

.left2 {
    width: 33%;
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 800px;
    position: relative!important;
}

.nombrePlaylist4 {
    color: white!important;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
}

.nombreAutor4 {
    margin-left: auto;
    margin-right: auto;
}

.Buton16 {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    background-color: #1db954;
    color: #fff;
    border: 0 none;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.Buton16:hover {
    background-color: rgb(31, 145, 31);
}

.aumento:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.foto3 {}

.nombre3 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    color: grey;
}

.botonRep3 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
}

.nomTracks3 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    color: grey;
    margin-top: 15px;
}

.opcion3 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
}

.right2 {
    height: 100%;
    width: 67%;
}

.scroll3 {}

.imagen {
    position: relative;
    height: 300px!important;
    width: 300px!important;
    z-index: 1;
    cursor: pointer;
}

.blocke {
    display: flex;
    height: 10px;
    width: 100%;
}

.texto {
    display: flex;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    font-style: verdana;
    color: white!important;
}