<div class="contenedor1" (click)="sendInfo()">
    <div class="play2">
        <button class="botonOp" (click)="sendInfo()">
            <img   class="imagenPlay3" src="../../../../assets/img/play.png">
        </button>
    </div>
    <div class="info2">
        <div class="top3">
            <a>
                {{track.name}}
            </a>
        </div>
        <div class="botom3">
            <a class="nombreArtista4">
                {{getNames()}}
            </a>
            <span class="dot"></span>
            <a class="nombreAlbum4">
                {{track.album.name}}
            </a>
        </div>
    </div>
    <div class="opciones2">
        <button class="botonOp">
            <img (click)="this.borrarP()" *ngIf="this.usuario"  class="foto" src="../../../../assets/img/borrar.png">
        </button>
    </div>
    <div class="duracion2">
        <a>
            {{trackLegenth(track.duration_ms)}}
        </a>
    </div>
</div>