.contenedor1 {
    display: inline-flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    border: 0 none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.contenedor1:hover {
    transition: 0.3s;
    background-color: #424141;
}

.contenedor1:hover .opciones2 {
    display: inline;
    transition: 0.5s;
}

.play2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 10%;
    max-width: 60px;
    flex-grow: 10;
    order: 6;
}

.imagenPlay3 {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.info2 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: 100%;
    flex-grow: 10;
    order: 6;
}

.top3 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    width: 100%;
    height: 30px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.botom3 {
    max-height: 30px;
    color: rgb(207, 207, 207)!important;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    letter-spacing: 0px;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.opciones2 {
    margin-top: 10px;
    width: 10%;
    max-width: 80px;
    height: 100%;
    flex-grow: 10;
    order: 6;
    display: none;
}

.botonOp {
    border: 0 none;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
}

.dot {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 9px;
    height: 4px;
    width: 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.duracion2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 10%;
    max-width: 90px;
    height: 100%;
    flex-grow: 10;
    order: 6;
    color: white;
}

.foto {
    display: flex;
    height: 50px;
    width: 50px;
    cursor: pointer;
}